@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: hsl(233, 47%, 7%);
  font: 0.9rem/1.5 "Lexend Deca", sans-serif; /* font property shortcut */
  color: #fff;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}






/*
===================================
  content styling
===================================
*/

.card {
  display: flex;
  width: 70%;
  background: hsl(244, 38%, 16%);
  border-radius: 5px;
  overflow: hidden; /* hides image overflow */
}

.card__content {
  padding: 60px 50px;
  width: 50%;
}

.card__heading {
  font-size: 2.125rem;
  margin-bottom: 20px;
  color: hsl(0, 0%, 100%);
}

.card__heading--accent-color span {
  color: hsl(277, 64%, 61%);
}

.card__body {
  margin-bottom: 50px;
  color: hsla(0, 0%, 100%, 0.75);
  font-weight: 500;
}

.card__stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__value {
  display: block;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 1.25rem;
}

.card__text {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 0.75rem;
  font-weight: 500;
}





/*
===================================
  Background image styling
===================================
*/
.card__img-section {
  position: relative;
  width: 50%;
  background: url("./images/image-header-desktop.jpg") no-repeat center;
  background-size: cover;
}

.card__img-section:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(109, 0, 177, 0.5);
}


@media (max-width: 1025px) {
  .card {
    margin: 50px 0;
    width: 85%;
  }

  .card__heading {
    font-size: 1.56rem;
  }
}

@media (max-width: 768px) {
  .card {
    width: 95%;
  }

  .card__content {
    padding: 40px 20px;
  }
}

@media (max-width: 540px) {
  .card {
    width: 85%;
    flex-direction: column;
    text-align: center;
  }

  .card__content {
    width: 100%;
    padding: 30px;
    order: 1;
  }

  .card__heading {
    font-size: 1.69rem;
    margin-bottom: 10px;
  }
 
  .card__body {
    margin-bottom: 30px;
  }
  .card__stats {
    flex-direction: column;
  }

  .card__stats div:not(:last-child) {
    margin-bottom: 20px;
  }

  .card__img-section {
    width: 100%;
    height: 250px;
    background: url('./images/image-header-mobile.jpg') no-repeat center;
    background-size: cover;
  }
}